@page "/settings"
@inject IStringLocalizer<SettingsIndex> loc

<WebPageTitle Value="@loc["Settings"]"></WebPageTitle>
<div class="row mb-3">
    <div class="col">
        <h2>@loc["Language"]</h2>
        <select class="form-control" @bind="Culture" style="width:300px; margin-left:10px;">
            @foreach (var language in Settings.SupportedLanguages)
            {
                <option value="@language.Culture"><span>@language.FlagName</span> <span>@language.DisplayName</span></option>
            }
        </select>
    </div>
</div>
