@page "/authentication/change-password"

<PageTitle Value="Change Password"></PageTitle>

<EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="registerParameters">
    <DataAnnotationsValidator />
    <h4 class="font-weight-normal text-center">Change Password</h4>

    <label for="inputPassword" class="sr-only">Current Password</label>
    <InputText type="password" id="inputPassword" class="form-control" placeholder="Password" @bind-Value="@registerParameters.OldPassword" />
    <ValidationMessage For="@(() => registerParameters.OldPassword)" />

    <label for="inputPasswordConfirm" class="sr-only">New Password</label>
    <InputText type="password" id="inputPasswordConfirm" class="form-control" placeholder="Password Confirmation" @bind-Value="@registerParameters.NewPassword" />
    <ValidationMessage For="@(() => registerParameters.NewPassword)" />

    <label for="inputPasswordConfirm" class="sr-only">New Password Confirmation</label>
    <InputText type="password" id="inputPasswordConfirm" class="form-control" placeholder="Password Confirmation" @bind-Value="@registerParameters.NewPasswordConfirm" />
    <ValidationMessage For="@(() => registerParameters.NewPasswordConfirm)" />

    <button class="btn btn-lg btn-primary btn-block" type="submit">Change</button>

    @if (!String.IsNullOrEmpty(@error))
    {
        <label class="text-danger">@error</label>
    }
</EditForm>
@inject AuthorizationService AuthorizationServ;
@inject NavigationManager navigationManager

@code {
    ChangePasswordParameters registerParameters { get; set; } = new ChangePasswordParameters();

    string error { get; set; }

    async Task OnSubmit()
    {
        error = null;
        try
        {
            await AuthorizationServ.ChangePasswordAsync(registerParameters);
            navigationManager.NavigateTo("");
        }
        catch (Exception ex)
        {
            error = ex.Message;
            StateHasChanged();
        }
    }

}
