@page "/authentication/login"

@inject IStringLocalizer<Login> baseloc;

@layout LoginLayout
@inject NavigationManager navigationManager
@inject IdentityAuthenticationStateProvider authStateProvider

<PageTitle Value="@baseloc["LoginLabel"]"></PageTitle>

<EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="loginParameters">
    <DataAnnotationsValidator />
    <h4 class="font-weight-normal text-center">@baseloc["LoginLabel"]</h4>

    <label for="inputUsername" class="sr-only">@baseloc["User Name"]</label>
    <InputText id="inputUsername" class="form-control" @bind-Value="loginParameters.UserName" autofocus placeholder="@baseloc["User Name"]" />
    <ValidationMessage For="@(() => loginParameters.UserName)" />

    <label for="inputPassword" class="sr-only">@baseloc["Password"]</label>
    <InputText type="password" id="inputPassword" class="form-control" placeholder="@baseloc["Password"]" @bind-Value="loginParameters.Password" />
    <ValidationMessage For="@(() => loginParameters.Password)" />

    <div class="form-check m-3">
        <InputCheckbox id="inputRememberMe" class="form-check-input" @bind-Value="@loginParameters.RememberMe" />
        <label class="form-check-label" for="inputRememberMe">@baseloc["Remember Me"]</label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">@baseloc["Sign in"]</button>

    @if (!String.IsNullOrEmpty(@error))
    {
    <label class="text-danger">@error</label>
    }
</EditForm>
<NavLink href="authentication/register">
    <h6 class="font-weight-normal text-center">@baseloc["Create account"]</h6>
</NavLink>
<NavLink href="authentication/forgot-password">
    <h6 class="font-weight-normal text-center">@baseloc["Forgot password"]</h6>
</NavLink>

@code{
    LoginParameters loginParameters { get; set; } = new LoginParameters();

    string error { get; set; }

    async Task OnSubmit()
    {
        error = null;
        try
        {
            await authStateProvider.LoginAsync(loginParameters);
            navigationManager.NavigateTo("");
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}