@page "/fetchdata"
@inherits NoCrastBasePage
@inject IStringLocalizer<FetchData> loc;

<h1>@loc["Weather forecast"]</h1>

<WebPageTitle Value="@loc["Weather forecast"]" />

<p>@loc["This component demonstrates fetching data from the server."]</p>

@if (!InProgress)
{
    <ErrorMessageBanner Message="@ErrorMessage" IsError="IsError"></ErrorMessageBanner>

    @if (forecasts != null)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">@loc["Date"]</th>
                    <th scope="col">@loc["Temp. (C)"]</th>
                    <th scope="col">@loc["Temp. (F)"]</th>
                    <th scope="col">@loc["Summary"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var forecast in forecasts.Items)
                {
                    <tr>
                        <td>@forecast.Date.ToShortDateString()</td>
                        <td>@forecast.TemperatureC</td>
                        <td>@forecast.TemperatureF</td>
                        <td>@forecast.Summary</td>
                    </tr>
                }
            </tbody>
        </table>
        <DataPager PagesCount="@forecasts.PagesCount"
                   SelectedPage="@forecasts.Page"
                   OnPageChanged="@RequestDataAsync">
        </DataPager>
    }
}
else
{
    <PageProgress></PageProgress>
}
