@page "/server/counter"
@rendermode InteractiveServer

@inject IStringLocalizer<Counter> loc;

<PageTitle>@loc["Counter on server"]</PageTitle>

<h1>@loc["Counter (InteractiveServer mode)"]</h1>

<p>@(new MarkupString(loc["This is an example of the page rendered using <code>@rendermode InteractiveServer</code>"]))</p>

<p role="status">@loc["Current count:"] @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">@loc["Click me"]</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
