@page "/client/loading"

@rendermode @(new InteractiveWebAssemblyRenderMode(prerender:true))
@inherits BasePage

@inject IStringLocalizer<ClientWasmLoading> loc;

<PageTitle>@loc["WASM Loading"]</PageTitle>

<h3>@loc["Web Assembly (WASM) Application Loading"]</h3>

<p>@loc["This component showcases client-side rendering using Interactive WebAssembly Render Mode (InteractiveWebAssemblyRenderMode) with server prerendering enabled. It includes an initial loading progress indicator for WASM."]</p>

<p>@(new MarkupString(loc["The initial loading of WASM application can take some time, depending on factors such as network speed and device performance. If rendering content with server prerendering is not an option, the prerendering phase can be utilized to display a progress indicator. This can be achieved by enclosing the content within a <code>LoadingProgress</code> component, providing users with visual feedback while the WASM module is being loaded."]))</p>
<LoadingProgress>
    <p>@loc["The application is loaded."]</p>
</LoadingProgress>
