@inject IStringLocalizer<DeleteModalOverlay> loc
<div class="modal fade" id="@Id" tabindex="-1" aria-labelledby="addDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProjectModalLabel">@loc["Are you sure?"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@loc["Close"]"></button>
            </div>
            <div class="modal-body">
                <p>@(String.IsNullOrEmpty(Name) ? @loc["Are you sure you want to delete?"] : String.Format(@loc["Are you sure you want to delete {0}?"], Name))</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick="OnDelete">@loc["Delete"]</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@loc["Cancel"]</button>
            </div>
        </div>
    </div>
</div>
