@inherits BasePage

@inject IStringLocalizer<NewForecastModal> loc

<div class="modal fade" id="addForecastModal" tabindex="-1" aria-labelledby="addForecastModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addClientModalLabel">@(ForecastItem != null ? loc["Edit Forcast"] : loc["New Forcast"])</h5>
                <button type="button" class="btn-close" disabled="@InProgress" aria-label="@loc["Close"]" @onclick="OnCloseAsync"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <input type="date" class="form-control" disabled="@InProgress" placeholder="@loc["Date"]" aria-label="@loc["Date"]" @bind="Date" />
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" disabled="@InProgress" placeholder="@loc["Temperature"]" aria-label="@loc["Temperature"]" @bind="Temperature" />
                </div>
                <div class="mb-3">
                    <textarea class="form-control" disabled="@InProgress" placeholder="@loc["Summary"]" aria-label="@loc["Summary"]" @bind="Summary" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" 
                                    disabled="@InProgress"
                                    @onclick="OnSubmit">
                    @(ForecastItem != null ? loc["Update"] : loc["Add"])
                </button>
                <button type="button" class="btn btn-secondary" disabled="@InProgress" @onclick="OnCloseAsync">@loc["Cancel"]</button>
            </div>
        </div>
    </div>
</div>
